apiVersion: v1
kind: ConfigMap
metadata:
  name: temporal-dynamic-config
data:
  development-sql.yaml: |
    limit.maxIDLength:
      - value: 255
        constraints: {}
    system.forceSearchAttributesCacheRefreshOnRead:
      - value: true
        constraints: {}