apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
data:
  prometheus.yml: |
    global:
      scrape_interval: 5s

    scrape_configs:
      - job_name: 'microservices'
        scrape_interval: 5s
        static_configs:
          - targets:
              - 'user.application.svc.cluster.local:8082'
              - 'payment.application.svc.cluster.local:8082'
              - 'notification.application.svc.cluster.local:8082'
              - 'order.application.svc.cluster.local:8082'
              - 'product.application.svc.cluster.local:8082'